html {
    background-color: #222;
    color: #EEE;
    font-size: 14px;
    min-width: 600px;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
}

details {
    margin: 20px 0px;
}

details p {
    font-size: 1rem;
}

summary {
    font-weight: 600;
    font-size: 1.2rem;
}

button, textarea, li {
    font-size: 1rem;
}

textarea {
    width: 100%;
    display: none;
}

textarea.visible {
    display: block;
    padding: 4px;
}

textarea, select {
    color: #EEE;
    background: #222;
    border: solid 1px #CCC;
    padding: 5px;
}

#outputWrapper {
    width: 100%;
    display: flex;
    padding: 10px 0px;
}

select {
    height: 2rem;
}

#outputWrapper button {
    background-color: #11C;
    color: #FFF;
    margin-left: 5px;
    padding: 5px;
    width: 40px;
    height: auto;
    border: none;
}

#outputWrapper > div {
    width: 100%;
}

#outputWrapper button[disabled] {
    background-color: #333;
}

#resourceList {
    list-style: none;
}

#resourceList li.item {
    margin-left: 1rem;
    color: #EE2;
}